*.c.save
*~
b/*.o
bed/*.o
bint1/*.o
bint2/*.o
bint3/*.o
bio/*.o
btr/*.o
unix/*.o
keys/*.o
stc/*.o
.gitignore~
CMakeLists.txt~
Makefile
abc
abckeys
mkmach
answers
ex/out
unix/file.h
unix/mach.h
build32
build/.ninja_deps
build/.ninja_log
build/CMakeCache.txt
build/CMakeFiles/
build/build.ninja
build/cmake_install.cmake
build/rules.ninja
build/compile_commands.json
build/custom_autogened_files/
