*~
abc
abc32
abc64
abckeys
answers
bed/*.o
bint1/*.o
bint2/*.o
bint3/*.o
bio/*.o
b/*.o
btr/*.o
build
build32
build64
CMakeLists.txt~
*.c.save
*.c.X
ex/out
.gitignore~
googletest-release-1.8.1
*.h.save
keys/*.o
Makefile
mkmach
stc/*.o
unix/file.h
unix/mach.h
unix/*.o
unix/sig.c.old